@font-face {
  font-family: "outfit";
  src: url("../font/Outfit-Regular.ttf");
}
* {
  scrollbar-width: auto;
  scrollbar-color: #8f54a0 #ffffff00;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #ffffff00;
  padding: 1rem;
}
html.dark *::-webkit-scrollbar-thumb {
  background-color: #d2d2d2;

  border-radius: 10px;
  border: 3px solid #ffffff00;
}

*::-webkit-scrollbar-thumb {
  background-color: #3d3d3d;

  border-radius: 10px;
  border: 3px solid #ffffff00;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  background-image: url("../image/ds3_thumb_brand_624x468\ 1.jpg");
  background-size: cover;
  background-position: center;
}
#player-track::-webkit-slider-thumb {
  background-color: red;
}
.delBtn {
  transition: all 0.2s ease-in-out;
}
.delBtn:hover {
  scale: 1.2;
  color: rgb(231, 52, 52);
}
